$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #ffffff;
$darkbackground-color: #333;
$secbg-color: #dfdbdb;
$tertiarybackground-color: #f6f6f6;
$fourthbackground-color: #eaeaea;
$icon-color: #7e7e7e;
$text-color: #333;
$label-color: green;
$white-color: white;
$card-background: #f9f9f9;
$button-color: #FF79DA;
$card-shadow: rgba(0, 0, 0, 0.1);
$footer-link-color: #333;

$font-logo-titles: 'Shrikhand';
$font-text: 'Roboto', sans-serif;


$section-padding: 15px;