.explore-button, .order-button {
    @include theme-gradient;
    color: $background-color;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

    &:hover {
        background: linear-gradient(360deg, lighten($primary-color, 10%), lighten($secondary-color, 10%));
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    }
}


.order-button {       
    padding: 1rem 2rem;
    font-weight: bold;
    margin: 5px 30px 70px 70px;
    display: block;
    width: calc(100% - 9rem);
    text-align: center;
    
}
